{% extends 'base.html.twig' %}

{# Metas #}
{% block lang %}{{ lang_page }}{% endblock %}
{% block title %}{{ meta_title[lang] }}{% endblock %}
{% block desc %}{{ meta_desc[lang] }}{% endblock %}
{% block damping %}{{ settings.damping }}{% endblock %}
{% block scrollimg %}{{ settings.scrollimg }}{% endblock %}

{% block body %}
    {% include "webpages/blocks/header.html.twig" %}
    <div id="content">
        <div id="website">
            <main id="main">
                {{ page_content | convert_shortcode | raw }}
                {{ include('webpages/blocks/services.html.twig') }}
                {{ include('webpages/blocks/contact.html.twig') }}
                {{ include('webpages/blocks/newsletter.html.twig') }}
            </main>
            {% include "webpages/blocks/footer.html.twig" %}
        </div>
    </div>
{% endblock %}