<table align="center" border="1" cellspacing="0" style="width:500px;">
	<tbody>
		<tr>
			<td colspan="2"><img alt="" src="https://www.radiofrance.fr/s3/cruiser-production/2022/02/1b5f469a-e5f4-4159-a0ca-cf1a9371ef09/560x315_roses-bouquet-fleurs.webp" style="width: 500px; height: 281px; display: block;" /></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px 0px 20px">
			<h1 style="text-align: center;">Prise de contact depuis le formulaire du site Internet</h1>

			<p style="text-align: center;">Vous avez reçu une nouvelle demande depuis le formulaire de contact de votre site Internet</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px">Identité</td>
			<td style="width: 50%; padding: 10px">{{ fname }} {{ lname }}</td>
		</tr>
		<tr>
			<td style="padding: 10px">E-Mail</td>
			<td style="width: 50%; padding: 10px">{{ email }}</td>
		</tr>
		<tr>
			<td style="padding: 10px">Téléphone</td>
			<td style="width: 50%; padding: 10px">{{ tel }}</td>
		</tr>
		<tr>
			<td style="padding: 10px">Demande</td>
			<td style="width: 50%; padding: 10px">{{ subject}}</td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px">{{ message }}</td>
		</tr>
	</tbody>
</table>