<!-- Accueil -->
<section class="home-screen position-relative-no-md ht-100vh-no-md" id="home">
  <div class="content-home position-absolute-no-md wd-100-no-md ht-100vh-no-md row">
    <div class="text ht-100vh-no-md col-6 col-xs-12 padding-all-no-md">
      <h1 data-aos="fade-up">Artisan Fleuriste itinérant sur Saint-Didier-sous-Aubenas
      </h1>
      <h2 data-aos="fade-up">Les Fleurs de Riton
      </h2>
      <p data-aos="fade-up">Mariages | Baptèmes | Deuils | Evenements spéciaux
      </p>
    </div>
    <figure class="image ht-100vh-no-md col-6 col-xs-12" data-aos="fade-left"><img alt="Logo - Les Fleurs de Riton" src="../uploads/images/pages/logo.png" />
    </figure>
  </div>
  <div class="parallax-section position-absolute-no-md wd-100-no-md ht-100vh-no-md">
    <figure class="parallax-element"><img alt="Bouquet de Mariage" src="../uploads/images/pages/bg-home.jpg" />
    </figure>
  </div>
  <figure class="scroll-down position-absolute"><a class="nav-link" data-link="#about" href="#about"><img alt="En savoir plus" src="../uploads/images/pages/arrow-down-solid.png" /></a>
  </figure>
</section>

<!-- Présentation -->
<section class="about" id="about">
  <div class="row">
    <div class="text padding-horizontal-no-md col-6 col-sm-12">
      <h2 data-aos="fade-up">Riton ? C'est mon camion !
        <br />
        Magnifique Estafette de 1978
      </h2>
      <p data-aos="fade-up">Notre histoire à commencé en 2017 sur les petites routes Ardéchoises que nous avons empruntées pendant 3 ans pour vous fleurir et vous accompagner dans tous les évènements de la vie&nbsp;: Anniversaires, fêtes, mariages, deuil, ainsi que pour la location de plantes et la décoration florale de vos entreprises&nbsp;: restaurants, hôtels, agences...
      </p>
      <p data-aos="fade-up">Et c’est en juillet 2020, que nous avons décidé de nous installer en Zone de Millet à Saint-Didier-sous-Aubenas.
      </p>
      <p data-aos="fade-up">Nous vous accueillons dans notre boutique du Mardi au Samedi de 9h00 à 19h00 &amp; le Dimanche de 9H00 à 12H00.
      </p>
    </div>
    <figure class="image col-6 col-sm-12 padding-none"><img alt="Les Fleurs de Riton - Marianne Molina et son camion Riton" src="uploads/images/pages/about-image.jpg" />
    </figure>
  </div>
</section>

<!-- Services -->
<section class="services padding-all-no-md" id="services">
  <div><img alt="Picture" id="image-viewer" src="" />
  </div>
  <div class="row">
    <div class="tabs btn-list col-3 col-sm-12" data-aos="fade-up">
      <ul>
        {% for service in services %}
          <li class="tab service-btn" data-tab="tab{{service.id}}">{{ service.label }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="tab-content services-list col-7 col-sm-12" data-aos="fade-up" id="services-list">
      {% for service in services %}
        <section class="tab-pane service-block" id="tab{{ service.id }}">
          <h2>{{ service.title }}</h2>
          {{ service.content | raw }}
          <div class="service-images row">
          {% for image in service.servicesImages %}
            <div class="col-2 col-sm-3 col-xs-6">
              <figure class="thumb">
                <img alt="{{ image.imgname }}" src="../uploads/images/services/{{ image.imgname }}" />
              </figure>
            </div>
          {% endfor %}
          </div>
        </section>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Parallax -->
<div class="parallax-section">
  <figure class="parallax-element"><img alt="Bouquet de Mariage" src="../uploads/images/pages/bg-parallax.jpg" />
  </figure>
</div>

<!-- Contact -->
<section class="contact" id="contact">
  <div class="row">
    <div class="infos padding-all-no-md col-6 col-sm-12">
      <h2 class="text-center">Accès et contact
      </h2>
      <p class="text-center">149 chemin des Vignettes
        <br />
        Zone commerciale de, Chem. des Terres de Millet
        <br />
        07200 Saint-Didier-sous-Aubenas
      </p>
      <p class="text-center"><a href="tel:06 84 03 15 54">06 84 03 15 54</a>
      </p>
      <p class="text-center"><a href="javascript:void(location.href='mailto:'+String.fromCharCode(99,111,110,116,97,99,116,64,108,101,115,102,108,101,117,114,115,100,101,114,105,116,111,110,46,99,111,109))">contact@lesfleursderiton.com</a>
      </p>
      {{ form(contact_form) }}
    </div>
    <figure class="maps col-6 col-sm-12"><img alt="" src="/uploads/images/pages/google-maps.jpg" />
      <p class="gm-link"><a href="https://www.google.com/maps/dir//Les+Fleurs+De+Riton,+149+chemin+des+Vignettes+Zone+commerciale+de,+Chem.+des+Terres+de+Millet,+07200+Saint-Didier-sous-Aubenas/@44.6124592,4.4094463,15z/data=!4m17!1m7!3m6!1s0x12b4e1b50ad708f1:0xac34d36539fded1c!2sLes+Fleurs+De+Riton!8m2!3d44.6124592!4d4.4094463!16s%2Fg%2F11f2wg7_05!4m8!1m0!1m5!1m1!1s0x12b4e1b50ad708f1:0xac34d36539fded1c!2m2!1d4.4094463!2d44.6124592!3e3" rel="noopener" target="_blank" title="Voir l'itinéraire">Calculer l'itinéraire sur Google Maps</a>
      </p>
    </figure>
  </div>
</section>

<!-- Newsletter -->
<section class="newsletter">
  <div class="container">
    <h2>Inscrivez vous à notre newsletter
    </h2>
    {{ form(news_form) }}
  </div>
</section>
